body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #111;
    color: white;
    display: flex;
}

.sidebar {
    width: 240px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 15px crimson;
    padding-top: 30px;
    position: fixed;
}

.sidebar .logo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: crimson;
    margin-bottom: 20px;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
}

.sidebar .menu li {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    border-left: 4px solid transparent;
    transition: 0.3s;
}

.sidebar .menu li:hover {
    background: rgba(255, 0, 0, 0.2);
}

.sidebar .menu li.active {
    background: rgba(255, 0, 0, 0.35);
    border-left: 4px solid crimson;
}

.content {
    margin-left: 240px;
    padding: 30px;
    width: calc(100% - 240px);
}

.pagina {
    display: none;
}

.pagina.ativa {
    display: block;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.card {
    background: rgba(0, 0, 0, 0.65);
    padding: 20px;
    border-radius: 12px;
    width: 200px;
    box-shadow: 0 0 10px crimson;
    text-align: center;
    font-size: 18px;
}

.perfil-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    width: 350px;
    border-radius: 15px;
}

.btn-editar, .btn-quiz {
    background: crimson;
    border: none;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.btn-editar:hover, .btn-quiz:hover {
    background: rgb(150, 0, 0);
}
