body {
    margin: 0;
    padding: 0;
    background: url("imagens_videos_Site/castelo_infinito.jpeg") no-repeat center/cover;
    font-family: "Poppins", sans-serif;
    color: #fff;
    backdrop-filter: blur(2px);
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin-top: 20px;
    text-shadow: 0 0 15px black;
}

.cards-info {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card-info {
    background: rgba(0,0,0,0.6);
    padding: 20px;
    width: 200px;
    border-radius: 12px;
    border: 2px solid #d4af37;
    box-shadow: 0 0 20px #000;
}

.card-info h3 {
    color: #d4af37;
}

.graficos {
    margin-top: 40px;
}

canvas {
    margin-top: 30px;
    background: rgba(0,0,0,0.7);
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #d4af37;
}
