body {
    margin: 0;
    font-family: "Exo 2", sans-serif;
    background: #0d0d0d;
    color: #e1e1e1;
}

header {
    background: linear-gradient(90deg, #1b1b1b, #111);
    color: #29ffaf;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 4px solid #29ffaf;
    text-shadow: 0px 0px 8px #29ffaf;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.card {
    background: #131313;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #29ffaf99;
    box-shadow: 0 0 10px #29ffaf55;
}

.card h2 {
    margin: 0 0 10px 0;
    text-shadow: 0px 0px 8px #29ffaf;
}

canvas {
    width: 100%;
    max-height: 300px;
}

button {
    background: #29ffaf;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    margin-bottom: 12px;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}