body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
}

.login-title {
    font-size: 2.8rem;
    color: #ff3b3b;
    text-shadow: 0 0 15px #ff3b3b;
}

.login-box {
    background: rgba(0, 0, 0, 0.75);
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
    transform: scale(0.9);
    opacity: 0;
    animation: fadeInLogin 0.5s ease forwards;
}

@keyframes fadeInLogin {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

label {
    color: white;
    font-size: 17px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
}

.btn-login {
    margin-top: 10px;
    padding: 12px;
    background: crimson;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px crimson;
}

.btn-login:hover {
    background: rgb(190, 0, 0);
    transform: translateY(-3px);
    box-shadow: 0 0 15px red;
}

.cadastro-link {
    color: white;
    text-align: center;
}

.cadastro-link a {
    color: rgb(255, 120, 120);
    text-decoration: none;
}

.cadastro-link a:hover {
    text-shadow: 0 0 10px red;
}

.mensagem {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}
